{{> head }}

{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Spiderman</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae laudantium autem ullam asperiores, sequi numquam ex
      iure molestias odio similique? Voluptas quisquam quaerat voluptatibus sequi voluptates ipsa velit molestiae
      doloribus.</p>
  </div>

  <div class="col-4">
    <img src="assets/img/Spiderman.jpeg" alt="Spiderman" class="img-thumbnail">
  </div>
</div>

{{> footer }}